#container{
  width:30px;
  margin-top:50px;
  background-color: lightblue;

}
#buttons{
  float:right;
}
#container div{
  min-height:30px;
  border-radius:25px;
background-color: blue;
opacity:0;
}
#container div:first-child{
  opacity:1;
}
